:root{
  --primary: #1ea7fd;
  --danger: #FF5962;
  --success: #00968d;
  --outline: #7B61FF;
} 

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: var(--font-weigth);
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  min-width: 84px;
  transition: all 150ms ease-out;
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.storybook-button--secondary { 
  border-radius: 0px;
}

.success {
  background-color: var(--success);
  border: 1px solid var(--success);
}

.success:hover {
  box-shadow: 0 24px 32px -12px rgba(0, 0, 0, 0.15);
}

.danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
}

.danger:hover {
  box-shadow: 0 24px 32px -12px rgba(0, 0, 0, 0.15);
}

.info{
  background-color: transparent;
  color: var(--success);
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 22px;
  padding: 16px 26px;
}

.outline {
  background-color: transparent;
}

.outline:hover{
  background-color: inherit;
}