.input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  font-family: 'Roboto', sans-serif;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.input-field {
  border: 1px solid #b9b4bf;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  min-width: 150px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.input-field:focus {
  border: 1px solid rgb(48, 48, 48);
}

.input-field::placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.572);
  font-weight: 400;
  line-height: 24px;
}

.input-error {
  border: 1px solid #d83951;
}

.valid {
  border: 1px solid #248750;
}
